/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #0948a0;
}

.btn-primary
{
background-color: rgb(163, 170, 170);
}

.btn-primary {
    text-align: right"
}

table {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 1px solid grey;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
    margin:auto;
    table-layout: fixed;
}

.table-striped {
    /*table-layout: fixed;*/
    table-layout: auto;
    border-collapse: collapse;
    width: 90%;
    margin:auto; 
    text-align:center"
}

.table-bordered{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

caption {
    caption-side: bottom;
    text-align: right;
    padding: 10px 0;
    font-size: 14px;
 }

form {
    margin: auto; 
    display: inline;
    text-align: center;
    width: 50%;
}

.form_upload {
    margin: auto; 
    text-align: center;
    width: 50%;
}


.edit {
    width: 100%;
}

.filtr, .addUser{
    text-align: center;
    
    margin-bottom: 2%;
}

.box div { 
    display:inline-block; 
    margin-bottom: 2%;
}

.route{
    text-align: left;
    padding-left: 5%;
    margin-bottom: 3%;
}

a {
    color: grey
   }

input{
width: 10%;
}


