/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #0948a0;
}

.btn-primary
{
background-color: rgb(163, 170, 170);
}

.btn-primary {
    text-align: right"
}

table {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 1px solid grey;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
    margin:auto;
   
    table-layout: fixed;
}

.table-striped {
    /*table-layout: fixed;*/
    table-layout: auto;
    border-collapse: collapse;
    width: 90%;
    margin:auto; 
    text-align:center"
}

caption {
    caption-side: bottom;
    text-align: right;
    padding: 10px 0;
    font-size: 14px;
 }

form {
    margin: auto; 
    display: inline;
    text-align: center;
    width: 50%;
}

.form_upload {
    margin: auto; 
    text-align: center;
    width: 50%;
}


.edit {
    width: 100%;
}


#buttonFiltrShow , #buttonFiltrHid{
    top:11%;
    right:8%;
    width: 150px;;
    height:auto;
    position: absolute;
    z-index: 2;
    margin: 2% 0;
}

#buttonAddShow , #buttonAddHid{
    top:11%;
    right:20%;
    width: 230px;
    height:auto;
    position: absolute;
    z-index: 2;
    margin: 2% 0 ;
}

.filtr {
    margin:40px;
}

.route{
    left: 5%;
    bottom: 85%;
    position: absolute;
    padding-bottom: 1px;
    margin-bottom: 10px;   
}

a {
    color: grey
   }




