{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block main %}
    <table class="table table-striped"  style="margin:auto; width: 82%; text-align:left">
        <thead>
            <tr style="text-align:left">
                <th style="text-align:left">ID</th>
                <th style="text-align:left">Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Status</th>
                <th>Position</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr> {% for user in users %}
                <td style="text-align:left">{{ user.id }} </td>
                <td style="text-align:left">{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.hash }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.position }}</td>
                <td style="width:13%;"> <div style="float: left; ">
                    <form action="/edit" method="post">
                        <input type="hidden" value="{{ user.id }}" name ="user_id">
                        <button type="submit" style="background-color:rgb(196, 199, 196);">Edit</button>
                    </form>
                </div>
                </td>
            </tr>{% endfor %}
        </tbody>
    </table>   
    <p></p> 
    <form action="/register" method="post" name="register" onsubmit="return validateForm()">
        <table class="table table-striped"  style="margin:auto; width: 82%; text-align:left">
            <tbody>
                <tr> 
                <td><input autocomplete="off" id="name" name="name"  placeholder="Name" type="text"  minlength="" maxlength="30"></td>
                <td><input autocomplete="off" id="username" name="username"  placeholder="Username" type="text"  minlength="" maxlength="30"></td>
                <td><input autocomplete="off" id="password" name="password" placeholder="Password" type="password"  minlength="" maxlength="30" ></td>
                <td><input autocomplete="off" id="status" name="status"  placeholder="Status" type="text"  minlength="" maxlength="30"></td>
                <td><input autocomplete="off" id="position" name="position"  placeholder="Position" type="text"  minlength="" maxlength="30"></td>
                </tr> 
            </tbody>
        </table> 
        <div>
            <button class="btn btn-primary" type="submit" id="button" >Registr</button>
    <p id="demo"></p>
        </div>
    
    </form>
    <p></p>        
    
    <script>
                function validateForm() {
                        let username = document.forms["register"]["username"].value;
                        let password = document.forms["register"]["password"].value;
                        let confirmation = document.forms["register"]["confirmation"].value;
        
                        if (username.length < 3 || username.length > 30) {
                            document.getElementById("username").style.border = "1px solid red";
                            alert("Username is not available. Use thrуe or more characters.");
                            document.getElementById("username").focus()
                            return false;
                        }
                        else {
                            document.getElementById("username").style.border = "1px solid green";
                            document.getElementById("button").focus()
                        }
        
                        if (checkUsernameInvalidSymbol(username)) {
                            document.getElementById("username").style.border = "1px solid red";
                            alert("Username contains an invalid character. Use upper and lower case characters of the English alphabet and digit from 0 to 9");
                            document.getElementById("username").focus()
                            return false;
                        }
                        else {
                            document.getElementById("username").style.border = "1px solid green";
                            document.getElementById("button").focus()
                        }
        
                        if (checkUsernameMastContain(username)) {
                            document.getElementById("username").style.border = "1px solid red";
                            alert("Username not contains alphabet character. Use upper or lower case characters of the English alphabet and digit from 0 to 9");
                            document.getElementById("username").focus()
                            return false;
                        }
                        else {
                            document.getElementById("username").style.border = "1px solid green";
                            document.getElementById("button").focus()
                        }
        
                        if (checkPasswordMastContain(password)) {
                            document.getElementById("password").style.border = "1px solid red";
                            alert("Password does not contain the necessary characters. Password mast contain at least one upper and lower case characters from English alphabet and one digit from 0 to 9 and one charecter from !, @, #, $, %, &, ?, -, +, =, ~.")
                            document.getElementById("password").focus()
                            return false;
                        }
                        else {
                            document.getElementById("password").style.border = "1px solid green";
                            document.getElementById("button").focus()
                        }
        
                        if (checkPasswordInvalidSymbol(password)) {
                            document.getElementById("password").style.border = "1px solid red";
                            alert("Password contains an invalid character.");
                            document.getElementById("password").focus()
                            return false;
                        }
                        else {
                            document.getElementById("password").style.border = "1px solid green";
                            document.getElementById("button").focus()
                        }
        
                        if (password.length < 6 || password.length > 30) {
                            document.getElementById("password").style.border = "1px solid red";
                            alert("Password is not available. Password mast be between 6 and 30 characters.");
                            document.getElementById("password").focus()
                            return false;
                        }
                        else {
                            document.getElementById("password").style.border = "1px solid green";
                            document.getElementById("button").focus()
                        }
        
                        if (password != confirmation) {
                            document.getElementById("confirmation").style.border = "1px solid red";
                            alert("Password confirmation is different.");
                            document.getElementById("confirmation").focus()
                            return false;
                        }
                        else {
                            document.getElementById("confirmation").style.border = "1px solid green";
                            document.getElementById("button").focus()
                        }
                        
                            return true;
                    }
        
            </script>
{% endblock %}
