{% extends "layout.html" %}

{% block title %}
    Upload Info
{% endblock %}

{% block main %}
    <div>
        <h4>Не удалось загрузить {{ countError }} пользователей.</h4> 
        <h5>Вероятно, пользователь с таким адресом электронной почты уже существует.</h5>
    </div> 
    <table>
        <thead>
            <tr>
                <th>N</th>
                <th>Подразделение</th>
                <th >Руководитель</th>
                <th>Статус</th>
                <th>Должность</th>
                <th>ФИО</th>
                <th>Почта</th>
                <th>Пароль</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usersError %}
            <tr> 
                <td>{{ loop.index }} </td>
                <td>{{ user.1 }}</td>
                <td>{{ user.2 }}</td>
                <td>{{ user.3 }}</td>
                <td>{{ user.4 }}</td>
                <td>{{ user.5 }}</td>
                <td>{{ user.6 }}</td>
                <td>{{ user.7 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>   
<p></p>
<p></p>
<p></p>
    <div>
        <h4>Успешно загружено {{ countUpload }} пользователей.</h4>
    </div>
    <table>
        <thead>
            <tr>
                <th>N</th>
                <th>Подразделение</th>
                <th >Руководитель</th>
                <th>Статус</th>
                <th>Должность</th>
                <th>ФИО</th>
                <th>Почта</th>
                <th>Пароль</th>
            </tr>
        </thead>
        <tbody>
            {% for users in usersUpload %}
            <tr> 
                <td>{{ loop.index }} </td>
                <td>{{ users.1 }} </td>
                <td>{{ users.2 }}</td>
                <td>{{ users.3 }}</td>
                <td>{{ users.4 }}</td>
                <td>{{ users.5 }}</td>
                <td>{{ users.6 }}</td>
                <td>{{ users.7 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>   

    <div><p></p>
        <a href="/"><button>На главную</button></a>
    </div>

    
{% endblock %}
