{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr> 
                <th>Подразделение</th>
                <th >Руководитель</th>
                <th>Статус</th>
                <th>Должность</th>
                <th>ФИО</th>
                <th>Почта</th>
                <th>Пароль</th>
            </tr>
        </thead>
    
        <tbody>
            <form action="/editSave" method="post" name="editSave" onsubmit="return validateForm()">
            <tr> 
                <input type="hidden" value="{{ id }}" name ="id">
                <td><input class="input edit" autocomplete="off" id="department" name="department"  value="{{ department }}" type="text"  minlength="" maxlength="30"></td>
                <td><input class="input edit" autocomplete="off" id="reports_to" name="reports_to"  value="{{ reports_to }}" type="text"  minlength="" maxlength="30"></td>
                <td><input class="input edit" autocomplete="off" id="status" name="status"  value="{{ status }}" type="text"  minlength="3" maxlength="30" required></td>
                <td><input class="input edit" autocomplete="off" id="position" name="position"  value="{{ position }}" type="text"  minlength="3" maxlength="30" required></td>
                <td><input class="input edit" autocomplete="off" id="name" name="name"  value="{{ name }}" type="text"  minlength="3" maxlength="30" required></td>
                <td><input class="input edit" autocomplete="off" id="mail" name="mail"  value="{{ mail }}" type="text"  minlength="3" maxlength="30" required ></td>
                <td><input class="input edit"autocomplete="off" id="hash" name="hash" value="" type="text"  minlength="" maxlength="30" ></td>
            <caption>
                <td colspan="4"></td>
                <td colspan="3"><button class="btn btn-primary" type="submit" id="button">Сохранить</button>
                <button class="btn btn-primary"  type="reset">Сбросить</button>
            </form>
            <form action="/delete" method="post" name="delete" >
                <input type="hidden" value="{{ id }}" name ="id">
                <button class="btn btn-primary"  type="" id="" onclick="return show_alert_delete()">Удалить</button>
                <a href='/users'></a><button class="btn btn-primary" type="button" >Назад</button></td></a>
            </form>
            </caption> 
            </tr> 
    </tbody>
         
    
    <script>
        function show_alert_delete() {
            if(confirm("Удалить пользователя?")) {
                this.form.sybmit();
            }
            return false;
        }

        function show_alert_edit() {
            if(confirm("Удалить пользователя?")) {
                this.form.sybmit();
            }
            return false;
        }

        function validateForm() {
                let name = document.forms["editSave"]["name"].value;
                let username = document.forms["editSave"]["mail"].value;
                


                if (name.length < 3 || name.length > 30) {
                    document.getElementById("name").style.border = "1px solid red";
                    alert("Поле name содержит меньше 3-х или более 30 символов.");
                    return false;
                }
                else {
                    document.getElementById("name").style.border = "1px solid green";
                }

                if (mail.length < 3 || mail.length > 30) {
                    document.getElementById("mail").style.border = "1px solid red";
                    alert("Поле username содержит менее 3-ч или более 30 символов");
                    return false;
                }
                else {
                    document.getElementById("mail").style.border = "1px solid green";
                }

                if (hash.length < 6 || hash.length > 30) {
                    document.getElementById("hash").style.border = "1px solid red";
                    alert("Password is not available. Password mast be between 6 and 30 characters.");
                    //document.getElementById("password").focus()
                    return false;
                }
                else {
                    document.getElementById("hash").style.border = "1px solid green";
                    //document.getElementById("button").focus()
                }
               
                
                if(confirm("Изменить данные пользователя?")) {
                    return true;
                }
                    return false;
                }

    </script>
{% endblock %}
