{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block main %}
    <table class="table table-striped"  style="margin:auto; width: 82%; text-align:center">
        <thead>
            <tr> 
                <th >ID</th>
                <th>Name</th>
                <th >Username</th>
                <th>Password</th>
                <th>Status</th>
                <th>Position</th>
            </tr>
        </thead>
    
        <tbody>
            <form action="/editSave" method="post" name="editSave" onsubmit="return validateForm()">
            <tr> 
                
                <td><input type="hidden" value="{{ id }}" name ="id">{{ id }}</td>
                <td><input autocomplete="off" id="name" name="name"  value="{{ name }}" type="text"  minlength="" maxlength="30"></td>
                <td><input autocomplete="off" id="username" name="username"  value="{{ username }}" type="text"  minlength="" maxlength="30" ></td>
                <td><input autocomplete="off" id="password" name="password" value="{{ password }}" type="text"  minlength="" maxlength="30" ></td>
                <td><input autocomplete="off" id="status" name="status"  value="{{ status }}" type="text"  minlength="" maxlength="30" ></td>
                <td><input autocomplete="off" id="position" name="position"  value="{{ position }}" type="text"  minlength="" maxlength="30"></td>
                <td>
                    <button class="btn btn-primary" type="submit" id="button">Save</button>
                    <p id="demo"></p>
                </td>
            </form>
                <td>
                    <form action="/delete" method="post" name="delete" >
                        <input type="hidden" value="{{ id }}" name ="id">
                        <button class="btn btn-primary" type="" id="" onclick="return show_alert()">Delete</button>
                    </form>
                </td>
                <td>
                    <a href="/"><button class="btn btn-primary" type="button" id="">Cancel</button></a>
                </td>
             </tr>
    </tbody>
         
    
    <script>
        function show_alert() {
            if(confirm("Do you really want to do this?")) {
                this.form.sybmit();
            }
            return false;
        }

        function validateForm() {
                let name = document.forms["editSave"]["name"].value;
                let username = document.forms["editSave"]["username"].value;
                let password = document.forms["editSave"]["password"].value;
                
                
                if (name.length < 3 || name.length > 30) {
                    document.getElementById("name").style.border = "1px solid red";
                    alert("Поле name содержит меньше 3-х или более 30 символов.");
                    document.getElementById("name").focus()
                    return false;
                }
                else {
                    document.getElementById("name").style.border = "1px solid green";
                    document.getElementById("button").focus()
                }

                if (username.length < 3 || username.length > 30) {
                    document.getElementById("username").style.border = "1px solid red";
                    alert("Поле username содержит менее 3-ч или более 30 символов");
                    document.getElementById("username").focus()
                    return false;
                }
                else {
                    document.getElementById("username").style.border = "1px solid green";
                    document.getElementById("button").focus()
                }

                if (checkUsernameInvalidSymbol(username)) {
                    document.getElementById("username").style.border = "1px solid red";
                    alert("Поле Username содержит недопустимый символ. Используйте буквы латинского алфавита и цифры от 0 до 9");
                    document.getElementById("username").focus()
                    return false;
                }
                else {
                    document.getElementById("username").style.border = "1px solid green";
                    document.getElementById("button").focus()
                }

                if (checkUsernameMastContain(username)) {
                    document.getElementById("username").style.border = "1px solid red";
                    alert("Поле Username должно содержать хотябы одну букву. Используйте буквы латинского алфавита и цифры от 0 до 9");
                    document.getElementById("username").focus()
                    return false;
                }
                else {
                    document.getElementById("username").style.border = "1px solid green";
                    document.getElementById("button").focus()
                }

                if (checkPasswordMastContain(password)) {
                    document.getElementById("password").style.border = "1px solid red";
                    alert("Password does not contain the necessary characters. Password mast contain at least one upper and lower case characters from English alphabet and one digit from 0 to 9 and one charecter from !, @, #, $, %, &, ?, -, +, =, ~.")
                    document.getElementById("password").focus()
                    return false;
                }
                else {
                    document.getElementById("password").style.border = "1px solid green";
                    document.getElementById("button").focus()
                }

                if (checkPasswordInvalidSymbol(password)) {
                    document.getElementById("password").style.border = "1px solid red";
                    alert("Password contains an invalid character.");
                    document.getElementById("password").focus()
                    return false;
                }
                else {
                    document.getElementById("password").style.border = "1px solid green";
                    document.getElementById("button").focus()
                }

                if (password.length < 6 || password.length > 30) {
                    document.getElementById("password").style.border = "1px solid red";
                    alert("Password is not available. Password mast be between 6 and 30 characters.");
                    document.getElementById("password").focus()
                    return false;
                }
                else {
                    document.getElementById("password").style.border = "1px solid green";
                    document.getElementById("button").focus()
                }

               
                
                    return true;
            }

    </script>
{% endblock %}
