{% extends "layout.html" %}

{% block title %}
    Главная
{% endblock %}

{% block main %}
    <table class="table table-striped"  style="margin:auto; width: 82%; text-align:center">
        <thead>
            <tr> 
                <th>Должность</th>
                {% for comp in competence %}
                <th>{{ comp }}</th>
                {% endfor %} 
            </tr> 
        </thead>
        <tbody>
            <form action="/select" method="post" name="select" onsubmit="return validateForm()">
            <tr> 
                {% for position in users %}
                <td>{{ position.1 }}</td>
                <td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td>
                <td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td>
                <td> 
                    <select name="status" class="table table-striped" required>
                        <option disabled selected value="none"></option>
                        {% for i in range(1, 10) %}
                        <option>{{ i }}</option>
                        {% endfor %}
                    </select></td>
                <td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td>
                <td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td><td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td><td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td>
                <td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td>
                <td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td>
                <td>
                    <button class="btn btn-primary" type="submit" id="button">S</button>
                    <p id="demo"></p>
                </td>
            </form>
            </tr>{% endfor %}
        </tbody>
    </table>
{% endblock %}
