{% extends "layout.html" %}

{% block title %}
    Главная
{% endblock %}

{% block main %}
    <table class="table table-striped"  style="margin:auto; width: 82%; text-align:center">
        <thead>
            <tr> 
                <th>Должность</th>
                <th>Организованноть </th>
                <th >Стремление к совершенству</th>
                <th>Надежность</th>
                <th>Приверженность</th>
                <th>Командность</th>
                <th>Ориентация на клиента</th>
                <th>Эффективная коммуникация</th>
                <th>Принятие решений</th>
                <th>Управленческое мастерство</th>
            </tr>
        </thead>
    
        <tbody>
            <form action="/select" method="post" name="select" onsubmit="return validateForm()">
            <tr> 
                
                <td>Юрист</td>
                <td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td>
                <td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td>
                <td> 
                    <select name="status" class="table table-striped" required>
                        <option disabled selected value="none"></option>
                        {% for i in range(1, 10) %}
                        <option>{{ i }}</option>
                        {% endfor %}
                    </select></td>
                <td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td>
                <td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td><td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td><td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td>
                <td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td>
                <td><select name="status" class="table table-striped" required>
                    <option disabled selected value="none"></option>
                    {% for i in range(1, 10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select></td>
                <td>
                    <button class="btn btn-primary" type="submit" id="button">S</button>
                    <p id="demo"></p>
                </td>
            </form>
                
                
             </tr>
    </tbody>
         
    
{% endblock %}
