{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
   

<form action="/users" method="get">
    <button class="btn btn-primary">Пользователи</button>
</form>
<p></p>
<form action="/positions" method="get">
    <button class="btn btn-primary">Должности</button>
</form>
<p></p>
<form action="/users" method="get">
    <button class="btn btn-primary">...</button>
</form>
<p></p>
<form action="/users" method="get">
    <button class="btn btn-primary">...</button>
</form>
   
{% endblock %}
