{% extends "layout.html" %}

{% block title %}
    Главная
{% endblock %}

{% block main %}
<head>
    <style>
        button {width: 350px;}
        
    </style>
</head>
   
<div style="width: 100%;">
   
<form action="/users" method="get">
    <button class="btn btn-primary">Все участники</button>
</form>
<p></p>
<form action="/positions" method="get">
    <button class="btn btn-primary">Ранжирование компетенций по должностям</button>
</form>
<p></p>
<form action="/test_results" method="get">
    <button class="btn btn-primary">Результаты тестирования 'Дельта аи'</button>
</form>
<p></p>
<form action="/file_users" method="get">
    <button class="btn btn-primary">Загрузить сотрудников файлом</button>
</form>
<p></p>
<form action="/file_test" method="get">
    <button class="btn btn-primary">Загрузить результаты тестирования 'Дельта аи'</button>
</form>
<p></p>
<form action="/" method="get">
    <button class="btn btn-primary">Отправить сообщение сотрудникам</button>
</form>
<p></p>
<form action="/mail_heads" method="get">
    <button class="btn btn-primary">Отправить сообщение руководителям</button>
</form>

</div>
   
{% endblock %}
