{% extends "layout.html" %}

{% block title %}
    Instruction
{% endblock %}

{% block main %}
<head>
    <style>
        div {
        text-align: left;
        margin-top: 20px
        }

        .red {
        color: red;
        }
        
        p {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
        }

        table {
        text-align: center;
        }
    </style>
</head>

<div style="width: 80%; margin: auto;">
<p>Для успешного функционирования проекта по обучению сотрудников back-office, партнером Borusan Cat Казахстан в области оценки и развития персонала, компанией STI, была разработана специальная продолжительная программа, которая включает в себя следующие этапы:</p>
<img src="static/map.png" style="height: auto; width: 100%;">
<p>Пример: Должность - Сотрудник, осуществляющий холодные звонки с целью продажи услуг компании</p>



<table class="table">
    <thead>
        <tr>
            <th>Компетенция</th>
            <th>Приоритет, присвоенный руководителем (где 1 – очень важно, должно быть развито очень хорошо; 9 – неважно, может быть развито плохо)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Организованность</td>
            <td>4  (должно быть развито хорошо)</td>
        </tr>
        <tr>
            <td>Стремление к совершенству</td>
            <td>7  (может быть развито плохо)</td>
        </tr>
        <tr>
            <td>Надежность</td>
            <td>3  (должно быть развито очень хорошо)</td>
        </tr>
        <tr>
            <td>Приверженность</td>
            <td>5  (должно быть развито хорошо)</td>
        </tr>
        <tr>
            <td>Командность</td>
            <td>6  (должно быть развито хорошо)</td>
        </tr>
        <tr>
            <td>Ориентация на клиента</td>
            <td>2  (должно быть развито очень хорошо)</td>
        </tr>
        <tr>
            <td>Эффективная коммуникация</td>
            <td>1  (должно быть развито очень хорошо)</td>
        </tr>
        <tr>
            <td>Принятие решений</td>
            <td>8  (может быть развито плохо)</td>
        </tr>
        <tr>
            <td>Управленческое мастерство</td>
            <td>9  (может быть развито плохо)</td>
        </tr>
    </tbody>
</table>

<p>Таким образом, руководитель считает, что самыми важными компетенциями сотрудника на этой должности являются: Эффективная коммуникация, Ориентация на клиента, Надежность. 
    Если у сотрудника эти компетенции развиты плохо, это сильно влияет на эффективность его работы, даже при условии, что остальные компетенции развиты хорошо. Необходимо развивать!
    Далее по степени важности идут: Организованность, Приверженность и Командность. Если у сотрудника эти компетенции развиты плохо, их тоже необходимо развивать.
    Не влияющие на эффективность работы в данной должности: Стремление к совершенству, Принятие решений, Управленческое мастерство. В рамках данной должности развивать нет необходимости.
    Что дальше? После того, как Вы выберите приоритетные компетенции для своих подчиненных (подробная инструкция будет ниже), все ваши подчиненные пройдут дистанционную оценку с помощью специального теста «delta.ai» по девяти представленным кластерам компетенциий с целью выявления сильных и слабых сторон (какие компетенции развиты хорошо, а какие плохо).
</p>
<p>Пример: сотрудник, осуществляющий холодные звонки с целью продажи услуг компании Иван Иванов прошел дистанционную оценку со следующими результатами:</p>

<table class="table">
    <thead>
        <tr>
            <th>Компетенция</th>
            <th>Результат сотрудника И. Иванов</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Организованность</td>
            <td>7 (развито плохо)</td>
        </tr>
        <tr>
            <td>Стремление к совершенству</td>
            <td>5 (развито хорошо)</td>
        </tr>
        <tr>
            <td>Надежность</td>
            <td>9 (развито плохо)</td>
        </tr>
        <tr>
            <td>Приверженность</td>
            <td>1 (развито очень хорошо)</td>
        </tr>
        <tr>
            <td>Командность</td>
            <td>4 (развито хорошо)</td>
        </tr>
        <tr>
            <td>Ориентация на клиента</td>
            <td>8 (развито плохо)</td>
        </tr>
        <tr>
            <td>Эффективная коммуникация</td>
            <td>6 (развито хорошо)</td>
        </tr>
        <tr>
            <td>Принятие решений</td>
            <td>2 (развито очень хорошо)</td>
        </tr>
        <tr>
            <td>Управленческое мастерство</td>
            <td>3 (развито очень хорошо)</td>
        </tr>
    </tbody>
</table>

<p>Далее, система сравнит идеальный профиль компетенций, который создал руководитель (то есть Вы), с результатами каждого сотрудника на этой должности (то есть Ваших подчиненных) и найдет расхождения. </p>
<p>Пример:</p>

<table class="table">
    <thead>
        <tr>
            <th>Компетенция</th>
            <th><p style="margin-bottom: 0px;">Приоритет </p>Идеальный профиль</th>
            <th>Результат сотрудника И. Иванов</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Организованность</td>
            <td class="red">4  (должно быть развито хорошо)</td>
            <td class="red">7 (развито плохо)</td>
        </tr>
        <tr>
            <td>Стремление к совершенству</td>
            <td >7  (может быть развито плохо)</td>
            <td>5 (развито хорошо)</td>
        </tr>
        <tr>
            <td>Надежность</td>
            <td class="red">3  (должно быть развито очень хорошо)</td>
            <td class="red">9 (развито плохо)</td>
        </tr>
        <tr>
            <td>Приверженность</td>
            <td>5  (должно быть развито хорошо)</td>
            <td>1 (развито очень хорошо)</td>
        </tr>
        <tr>
            <td>Командность</td>
            <td>6  (должно быть развито хорошо)</td>
            <td>4 (развито хорошо)</td>
        </tr>
        <tr>
            <td>Ориентация на клиента</td>
            <td class="red">2  (должно быть развито очень хорошо)</td>
            <td class="red">8 (развито плохо)</td>
        </tr>
        <tr>
            <td>Эффективная коммуникация</td>
            <td class="red">1  (должно быть развито очень хорошо)</td>
            <td class="red">6 (развито хорошо)</td>
        </tr>
        <tr>
            <td>Принятие решений</td>
            <td>8  (может быть развито плохо)</td>
            <td>2 (развито очень хорошо)</td>
        </tr>
        <tr>
            <td>Управленческое мастерство</td>
            <td>9  (может быть развито плохо)</td>
            <td>3 (развито очень хорошо)</td>
        </tr>
    </tbody>
</table>


<p>В данном примере, есть серьезные расхождения в компетенциях, которые должны быть развиты очень хорошо (Эффективная коммуникация, Ориентация на клиента, Надежность), плюс, есть небольшое расхождение в компетенции, которая должна быть развита хорошо (Организованность)</p>
<div> 
    <p>В результате, сотрудник И. Иванов будет направлен на обучение по компетенциям:</p>
    <p>В первую очередь - Эффективная коммуникация</p>
    <p>Далее – Ориентация на клиента</p>
    <p>Потом – Надежность</p>
    <p>И в завершении его индивидуальной программы обучения – Организованность.</p>
</div>

<div>
    <p><b>Следующий этап проекта – обучение.</b> Обучение будет проходить в смешанном формате. Некоторые компетенции сотрудник будет развивать с помощью специально разработанных уроков на обучающей онлайн платформе. </p>
    <p>Каждая компетенция разбирается в формате 4-ех уроков (в среднем). В каждом уроке есть лекционная часть для самостоятельного изучения, упражнения на закрепление информации и тестовые задания для проверки знаний. </p>
    <p>Выполнение урока занимает от 5 до 15 минут и может быть сделано участником в любое удобное для него время. На прохождение четырех уроков выделяется 5 рабочих дней. Доступ к следующему уроку открывается только после успешного выполнения заданий предыдущего. В течение всего процесса обучения участника курирует тьютер. Он проверяет выполнение заданий, напоминает об ограничении времени на их выполнение, отвечает на вопросы, в том числе связанные с техническими аспектами работы на обучающей платформе. </p>
    <p>После прохождения участниками дистанционных уроков и успешного выполнения итогового тестового задания, сотрудники буду приглашаться на очные онлайн сессии для тренировки и отработки навыков (тренажер).</p>
</div>
<div>
    <b>Оценка прогресса развития компетенций сотрудников back-office.</b> STI будет проводить оценку развития компетенций на диагностику знаний в формате итогового онлайн теста, а оценку развития навыков через наблюдение за сотрудником непосредственного руководителя на месте с использованием чек-листов «Поведенческие индикаторы» по компетенциям (чек-листы будут предоставлены STI)
</div>
<div>
    <form action="/mail_heads" method="post" onsubmit="return show_alert('Отправить сообщение?')">
        <input type="hidden" value="mail_from_head_start" name ="flag">
        <label for="exampleFormControlTextarea1" class="form-label"><p>Если у Вас остались вопросы, Вы можете связаться с нами через форму.</p><p>Мы ответим в течение дня обращения или на следующий день.</p></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="messege_from_head"></textarea>
        <button class="btn btn-primary" type="submit">Отправить сообщение</button>
    </form>
    
</div>
    
    
    
    </p>

<p style="margin-top: 40px;"><a href="/users"><button class="btn btn-primary" type="submit" id="button">Чтобы приступить к созданию профелей должностей, нажмите тут</button></a></p>
</div>

{% endblock %}
