{% extends "layout.html" %}

{% block title %}
    Instruction
{% endblock %}

{% block main %}

<head>
    <style>
        div {
        text-align: left;
        margin-top: 20px;
        
        }

        table .red {
        color: red;
        background-color: white;
        }
        
        p {
        margin-top: 0px;
        margin-bottom: 1%;
        text-align: justify;
        font-size: 150%;
        }

        .no_mar_bot {
            margin-bottom: 0;
        }

        table {
        text-align: center;
        font-size: 150%
        }
        .instr{
        margin-top: 20px;
        margin-bottom: 20px;
        }
    </style>
</head>
{% if today %}

<h1>Спасибо!</h1>
<a href="/logout"><button class="btn btn-primary" style="margin-top: 50px; width: 30%;">Завершить</button></a>

{% else %}
<div style="width: 95%; margin: auto;">
    <p>Для успешного функционирования проекта по обучению сотрудников back-office, партнером Borusan Cat Казахстан в области оценки и развития персонала, компанией STI, была разработана специальная продолжительная программа, которая включает в себя следующие этапы:</p>
    <img class="instr" src="static/map.png" style="height: auto; width: 100%;">
    <p>Мы приглашаем Вас присоединиться к программе с <b>третьего</b> этапа «Оценка компетенций сотрудников». На первом и втором этапах проекта была проведена большая работа по формированию идеального профиля компетенций для каждой должности back-office!</p>
    <p>Что такое «идеальный профиль» компетенций?</p>
    <p>Компетенция — это совокупность знаний, умений и внутренних установок, проявляющаяся в поведении и важных для успешного выполнения работы на конкретной должности.</p>
    <p>Описанных компетенций очень много, поэтому принято создавать «идеальный профиль» из нескольких компетенций. То есть руководитель выбирает набор самых важных компетенций, высокий уровень развития которых обеспечивает отличную работу в конкретной должности.</p>
    <p>Для проекта была выбрана универсальная модель компетенций от компании Экопси (ведущего российского провайдера в этой области), которая включает в себя 9 компетенций:</p>
    <p>
        1. Организованность<br>
        2. Стремление к совершенству<br>
        3. Надежность<br>
        4. Приверженность<br>
        5. Командность<br>
        6. Ориентация на клиента<br>
        7. Эффективная коммуникация<br>
        8. Принятие решений<br>
        9. Управленческое мастерство<br>
    </p>
    <p>Каждый руководитель провел анализ этих компетенций и выявил самые важные из них для каждой должности back-office. </p>
    <p>Что дальше?<br>Теперь, необходимо понять, как развиты эти компетенции у сотрудников. Для диагностики уровня   развития компетенций, мы будем использовать специальный тест «delta.ai». С его помощью Вы узнаете, какие этих компетенции у Вас развиты хорошо, а какие требуют улучшения. </p>
    <p><b>Пример:</b> сотрудник, осуществляющий холодные звонки с целью продажи услуг компании Иван Иванов прошел дистанционную оценку со следующими результатами:</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Компетенция</th>
                <th>Результат сотрудника И.Иванов</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Организованность</td>
                <td>развито плохо</td>
            </tr>
            <tr>
                <td>Стремление к совершенству</td>
                <td>развито хорошо</td>
            </tr>
            <tr>
                <td>Надежность</td>
                <td>развито плохо</td>
            </tr>
            <tr>
                <td>Приверженность</td>
                <td>развито очень хорошо</td>
            </tr>
            <tr>
                <td>Командность</td>
                <td>развито хорошо</td>
            </tr>
            <tr>
                <td>Ориентация на клиента</td>
                <td>развито плохо</td>
            </tr>
            <tr>
                <td>Эффективная коммуникация</td>
                <td>развито хорошо</td>
            </tr>
            <tr>
                <td>Принятие решений</td>
                <td>развито очень хорошо</td>
            </tr>
            <tr>
                <td>Управленческое мастерство</td>
                <td>развито очень хорошо</td>
            </tr>
        </tbody>
    </table>
    <p>Далее, система сравнит «идеальный профиль» компетенций, который создал руководитель, с результатами каждого сотрудника на этой должности и найдет расхождения. </p>
    <p><b>Пример:</b></p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Компетенция</th>
                <th>Приоритет<br>Идеальный профиль</th>
                <th>Результат сотрудника И.Иванов</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Организованность</td>
                <td class="red">4  (должно быть развито очень хорошо)</td>
                <td class="red">развито плохо</td>
            </tr>
            <tr>
                <td>Стремление к совершенству</td>
                <td >7  (должно быть развито хорошо)</td>
                <td>развито хорошо</td>
            </tr>
            <tr>
                <td>Надежность</td>
                <td class="red">3  (должно быть развито очень хорошо)</td>
                <td class="red">развито плохо</td>
            </tr>
            <tr>
                <td>Приверженность</td>
                <td>5  (должно быть развито очень хорошо)</td>
                <td>развито очень хорошо</td>
            </tr>
            <tr>
                <td>Командность</td>
                <td>6  (должно быть развито хорошо)</td>
                <td>развито хорошо</td>
            </tr>
            <tr>
                <td>Ориентация на клиента</td>
                <td class="red">2  (должно быть развито очень хорошо)</td>
                <td class="red">развито плохо</td>
            </tr>
            <tr>
                <td>Эффективная коммуникация</td>
                <td class="red">1  (должно быть развито очень хорошо)</td>
                <td class="red">развито хорошо</td>
            </tr>
            <tr>
                <td>Принятие решений</td>
                <td>8  (может быть развито плохо)</td>
                <td>развито очень хорошо</td>
            </tr>
            <tr>
                <td>Управленческое мастерство</td>
                <td>9  (может быть развито плохо)</td>
                <td>развито очень хорошо</td>
            </tr>
        </tbody>
    </table>
    <p>В данном примере есть серьезные расхождения в компетенциях, которые должны быть развиты очень хорошо (Эффективная коммуникация, Ориентация на клиента, Надежность), плюс, есть небольшое расхождение в компетенции, которая должна быть развита хорошо (Организованность)</p>
    <p>В результате, сотрудник И. Иванов будет направлен на обучение по компетенциям: <br>
        В первую очередь - Эффективная коммуникация<br>
        Далее – Ориентация на клиента<br>
        Потом – Надежность<br>
        И в завершении его индивидуальной программы обучения – Организованность.<br>
    </p>
    <p>Вы получите индивидуальные рекомендации по обучению после прохождения тестирования.</p>
    <p>Следующий этап проекта – обучение. Обучение будет проходить в смешанном формате. Некоторые компетенции Вы будете развивать с помощью специально разработанных уроков на обучающей онлайн платформе, некоторые на тренингах. 
        Каждая компетенция разбирается в формате 4-ех уроков. В каждом уроке есть лекционная часть для самостоятельного изучения, упражнения на закрепление информации и тестовые задания для проверки знаний.<br>
        Выполнение урока занимает от 5 до 15 минут и может быть сделано участником в любое удобное для него время. На прохождение четырех уроков выделяется 5 рабочих дней. Доступ к следующему уроку открывается только после успешного выполнения заданий предыдущего. В течение всего процесса обучения участника курирует тьютер. Он проверяет выполнение заданий, напоминает об ограничении времени на их выполнение, отвечает на вопросы, в том числе связанные с техническими аспектами работы на обучающей платформе. <br>
        После прохождения участниками дистанционных уроков и успешного выполнения итогового тестового задания, сотрудники буду приглашаться на очные или онлайн сессии для тренировки и отработки навыков с тренером.
    </p>
    <p>Итак, Вам придет письмо с приглашением пройти тестирование и подробными инструкциями как это сделать. </p>
    <p></p>



   <p style="margin-top: 40px;"><a href="/users"><button class="btn btn-primary" type="submit" id="button" style="width: 100%; margin-bottom: 2%;">С информацией ознакомился, жду ссылку на тестирование</button></a></p>

<form action="/mail_manager" method="post" onsubmit="return show_alert('Отправить сообщение?')">
        <input type="hidden" value="mail_from_manager_start" name ="flag">
        <label for="exampleFormControlTextarea1" class="form-label"><p>Если у Вас остались вопросы, Вы можете связаться с нами через форму: <br>
            Мы ответим в течение дня обращения или на следующий день.</p></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="messege_from_manager"></textarea>
        <button class="btn btn-primary" type="submit" >Отправить сообщение</button>
    </form>
</div>

{% endif %}

{% endblock %}