{% extends "layout.html" %}

{% block title %}
    Instruction
{% endblock %}

{% block main %}
    
    <div>
        <table class="table table-striped">
            <tr>
                <td>
                    <h3>Тут будет инструкция.</h3>
                </td>
            </tr>
            <tr>
                <td>
                127.0.0.1 - - [24/Aug/2022 14:00:30] "GET /users HTTP/1.1" 200 -
127.0.0.1 - - [24/Aug/2022 14:00:30] "GET /static/styles.css HTTP/1.1" 200 -
127.0.0.1 - - [24/Aug/2022 14:00:30] "GET /static/script.js HTTP/1.1" 200 -
127.0.0.1 - - [24/Aug/2022 14:00:30] "GET /static/favicon.ico HTTP/1.1" 200 -
127.0.0.1 - - [24/Aug/2022 14:00:30] "GET /static/favicon.ico HTTP/1.1" 200 -
127.0.0.1 - - [24/Aug/2022 14:00:36] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [24/Aug/2022 14:00:36] "GET /static/script.js HTTP/1.1" 200 -
127.0.0.1 - - [24/Aug/2022 14:00:36] "GET /static/styles.css HTTP/1.1" 200 -
127.0.0.1 - - [24/Aug/2022 14:00:36] "GET /static/favicon.ico HTTP/1.1" 200 -
            </td>
                
            </tr>
        </table>
            
        </p>
    </div>
    <a href="/users"><button class="btn btn-primary" type="submit" id="button">Чтобы приступить к созданию профелей должностей, нажмите тут</button></a>
{% endblock %}
