{% extends "layout.html" %}

{% block title %}
    Instruction
{% endblock %}

{% block main %}
<head>
    <style>
        div {
        text-align: left;
        margin-top: 20px;
        
        }

        .red {
        color: red;
        }
        
        p {
        margin-top: 0px;
        margin-bottom: 1%;
        text-align: justify;
        font-size: 150%;
        }

        .no_mar_bot {
            margin-bottom: 0;
        }

        table {
        text-align: center;
        font-size: 150%
        }
        .instr{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>

<div style="width: 95%; margin: auto;">
<p>Для успешного функционирования проекта по обучению сотрудников back-office, партнером Borusan Cat Казахстан в области оценки и развития персонала, компанией STI, была разработана специальная продолжительная программа, которая включает в себя следующие этапы:</p>
<img class="instr" src="static/map.png" style="height: auto; width: 100%;">
<p>Мы приглашаем Вас присоединиться к программе уже со второго этапа «Профиль компетенций», где необходимо определить набор важнейших компетенций по должностям сотрудников, которыми Вы управляете. Вы, как никто понимаете, какие компетенции позволяют Вашим подчиненным выполнять свою работу хорошо! Оттого, насколько качественно Вы выполните свою миссию на этом этапе, будет зависеть, успешно ли пройдет процесс обучения Ваших подчиненных на следующих этапах программы!</p>
<p>Что такое компетенции? Это совокупность знаний, умений и внутренних установок, проявляющаяся в поведении и важных для успешного выполнения работы. Компетенции отражают реальное поведение сотрудника, приносящее результат в конкретной должности. Кстати, модели компетенций крайне распространены в современном HR. 74% компаний обладают моделями компетенций. И все компании из ТОП-100 используют компетенции в оценке! </p>
<p>Описанных компетенций очень много, поэтому принято создавать профиль, то есть набор важных компетенций для каждой должности. Например, популярная модель оценки компетенций персонала, которую разработала американская компания Lominger, насчитывает аж 67 штук! </p>
<p>Чтобы сфокусироваться на развитии нужных компетенций, необходимо расставить приоритеты. Для проекта была выбрана универсальная модель компетенций от компании Экопси (ведущего российского провайдера в этой области), которая включает в себя 33 компетенции, объединенные в 9 кластеров:</p>
<p>
1. Организованность: Стремление ставить перед собой четкие цели и планировать работу. Умение быстро адаптироваться к изменениям на работе.<br>
2. Стремление к совершенству: Ставит перед собой амбициозные цели. Обучается новому и совершенствует рабочие процессы.<br>
3. Надежность: Берется за дополнительные задачи и интенсивно работает. Выполняет работу своевременно и несёт ответственность за результаты.<br>
4. Приверженность: Следует целям и ценностям компании в своей работе. Делится своим опытом с коллегами и партнерами.<br>
5. Командность: Объединяет людей и открыто обсуждает рабочие проблемы.<br>
6. Ориентация на клиента: Выясняет потребности клиентов, в том числе внутренних (коллег) и учитывает их в своей работе. Выстраивает долгосрочные отношения.<br>
7. Эффективная коммуникация: Налаживает контакт с другими людьми и находит индивидуальный подход к собеседнику. Четко и уверенно отстаивает свою позицию.<br>
8. Принятие решений: Интересуется тенденциями рынка и конкурентами в своей отрасли. Ставит стратегические цели и управляет рисками на основе анализа информации.<br>
9. Управленческое мастерство: Организовывает работу подчиненных (коллег) и поддерживает позитивный командный настрой. Развивает и поддерживает подчиненных (коллег).<br>
</p>
<p>Ниже представлен пример ранжирования этих компетенций по приоритетам для одной должности руководителем компании, продающей услуги. </p>
<p><b>Пример:</b> Должность - Сотрудник, осуществляющий холодные звонки с целью продажи услуг компании</p>



<table class="table table-bordered">
    <thead>
        <tr>
            <th>Компетенция</th>
            <th style="font-weight: normal"><b>Приоритет, присвоенный руководителем</b><br>(где 1 – очень важно, должно быть развито очень хорошо; 9 – неважно, может быть развито плохо)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Организованность</td>
            <td>4  (должно быть развито очень хорошо)</td>
        </tr>
        <tr>
            <td>Стремление к совершенству</td>
            <td>7  (должно быть развито хорошо)</td>
        </tr>
        <tr>
            <td>Надежность</td>
            <td>3  (должно быть развито очень хорошо)</td>
        </tr>
        <tr>
            <td>Приверженность</td>
            <td>5  (должно быть развито очень хорошо)</td>
        </tr>
        <tr>
            <td>Командность</td>
            <td>6  (должно быть развито хорошо)</td>
        </tr>
        <tr>
            <td>Ориентация на клиента</td>
            <td>2  (должно быть развито очень хорошо)</td>
        </tr>
        <tr>
            <td>Эффективная коммуникация</td>
            <td>1  (должно быть развито очень хорошо)</td>
        </tr>
        <tr>
            <td>Принятие решений</td>
            <td>8 (может быть развито плохо)</td>
        </tr>
        <tr>
            <td>Управленческое мастерство</td>
            <td>9 (может быть развито плохо)</td>
        </tr>
    </tbody>
</table>

<p>Таким образом, руководитель считает, что самыми важными компетенциями сотрудника на этой должности являются: Эффективная коммуникация, Ориентация на клиента, Надежность, Организованность и Приверженность. Если у сотрудника эти компетенции развиты плохо, это сильно влияет на эффективность его работы, даже при условии, что остальные компетенции развиты хорошо. Необходимо развивать!</p>
<p>Далее по степени важности идут: Командность, Стремление к совершенству. Если у сотрудника эти компетенции развиты плохо, их тоже необходимо развивать, но только после того, как будут подтянуты приоритентые.</p>
<p>Не влияющие на эффективность работы в данной должности: Принятие решений, Управленческое мастерство. В рамках данной должности развивать нет необходимости.</p>
<p>Что дальше? После того, как Вы выберите приоритетные компетенции для своих подчиненных (подробная инструкция будет ниже), все ваши подчиненные пройдут дистанционную оценку с помощью специального теста «delta.ai» по девяти представленным кластерам компетенциий с целью выявления сильных и слабых сторон (какие компетенции развиты хорошо, а какие плохо).</p>
<p><b>Пример:</b> сотрудник, осуществляющий холодные звонки с целью продажи услуг компании Иван Иванов прошел дистанционную оценку со следующими результатами:</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Компетенция</th>
            <th>Результат сотрудника И.Иванов</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Организованность</td>
            <td>развито плохо</td>
        </tr>
        <tr>
            <td>Стремление к совершенству</td>
            <td>развито хорошо</td>
        </tr>
        <tr>
            <td>Надежность</td>
            <td>развито плохо</td>
        </tr>
        <tr>
            <td>Приверженность</td>
            <td>развито очень хорошо</td>
        </tr>
        <tr>
            <td>Командность</td>
            <td>развито хорошо</td>
        </tr>
        <tr>
            <td>Ориентация на клиента</td>
            <td>развито плохо</td>
        </tr>
        <tr>
            <td>Эффективная коммуникация</td>
            <td>развито хорошо</td>
        </tr>
        <tr>
            <td>Принятие решений</td>
            <td>развито очень хорошо</td>
        </tr>
        <tr>
            <td>Управленческое мастерство</td>
            <td>развито очень хорошо</td>
        </tr>
    </tbody>
</table>

<p>Далее, система сравнит идеальный профиль компетенций, который создал руководитель (то есть Вы), с результатами каждого сотрудника на этой должности (то есть Ваших подчиненных) и найдет расхождения. </p>
<p><b>Пример:</b></p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Компетенция</th>
            <th>Приоритет<br>Идеальный профиль</th>
            <th>Результат сотрудника И.Иванов</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Организованность</td>
            <td class="red">4  (должно быть развито очень хорошо)</td>
            <td class="red">развито плохо</td>
        </tr>
        <tr>
            <td>Стремление к совершенству</td>
            <td >7  (должно быть развито хорошо)</td>
            <td>развито хорошо</td>
        </tr>
        <tr>
            <td>Надежность</td>
            <td class="red">3  (должно быть развито очень хорошо)</td>
            <td class="red">развито плохо</td>
        </tr>
        <tr>
            <td>Приверженность</td>
            <td>5  (должно быть развито очень хорошо)</td>
            <td>развито очень хорошо</td>
        </tr>
        <tr>
            <td>Командность</td>
            <td>6  (должно быть развито хорошо)</td>
            <td>развито хорошо</td>
        </tr>
        <tr>
            <td>Ориентация на клиента</td>
            <td class="red">2  (должно быть развито очень хорошо)</td>
            <td class="red">развито плохо</td>
        </tr>
        <tr>
            <td>Эффективная коммуникация</td>
            <td class="red">1  (должно быть развито очень хорошо)</td>
            <td class="red">развито хорошо</td>
        </tr>
        <tr>
            <td>Принятие решений</td>
            <td>8  (может быть развито плохо)</td>
            <td>развито очень хорошо</td>
        </tr>
        <tr>
            <td>Управленческое мастерство</td>
            <td>9  (может быть развито плохо)</td>
            <td>развито очень хорошо</td>
        </tr>
    </tbody>
</table>

<p>В данном примере есть серьезные расхождения в компетенциях, которые должны быть развиты очень хорошо (Эффективная коммуникация, Ориентация на клиента, Надежность, Организованность)</p>
    <p>В результате, сотрудник И. Иванов будет направлен на обучение по компетенциям:<br>
    В первую очередь - Эффективная коммуникация<br>
    Далее – Ориентация на клиента<br>
    Потом – Надежность<br>
    И в завершении его индивидуальной программы обучения – Организованность.
</p>
<div>
    <p><b>Следующий этап проекта – обучение.</b> Обучение будет проходить в смешанном формате. Некоторые компетенции сотрудник будет развивать с помощью специально разработанных уроков на обучающей платформе, другие - на онлайн курсе с тренером. </p>
    <p>Каждая компетенция разбирается в формате 4-ех уроков (в среднем). В каждом уроке есть лекционная часть для самостоятельного изучения, упражнения на закрепление информации и тестовые задания для проверки знаний. </p>
    <p>Выполнение урока занимает от 5 до 15 минут и может быть сделано участником в любое удобное для него время. На прохождение четырех уроков выделяется 5 рабочих дней. Доступ к следующему уроку открывается только после успешного выполнения заданий предыдущего. В течение всего процесса обучения участника курирует тьютер. Он проверяет выполнение заданий, напоминает об ограничении времени на их выполнение, отвечает на вопросы, в том числе связанные с техническими аспектами работы на обучающей платформе. </p>
    <p>После прохождения участниками дистанционных уроков и успешного выполнения итогового тестового задания, сотрудники буду приглашаться на онлайн сессии для тренировки и отработки навыков (тренажер)</p>
</div>
<div>
    <p><b>Оценка прогресса развития компетенций сотрудников back-office.</b> Оценку знаний сотрудников будет проводить STI в формате итогового онлайн теста.
        Оценку навыков будет проводить руководитель через наблюдение за сотрудником с использованием чек-листов «Поведенческие индикаторы» по компетенциям (чек-листы будут предоставлены STI)</p>
</div>
<div>
    <form action="/mail_heads" method="post" onsubmit="return show_alert('Отправить сообщение?')">
        <input type="hidden" value="mail_from_head_start" name ="flag">
        <label for="exampleFormControlTextarea1" class="form-label"><p>Если у Вас остались вопросы, Вы можете связаться с нами через форму ниже.<br>Мы ответим в течение дня обращения или на следующий день.</p></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="messege_from_head"></textarea>
        <button class="btn btn-primary" type="submit" >Отправить сообщение</button>
    </form>
</div>

<p style="margin-top: 40px;"><a href="/users"><button class="btn btn-primary" type="submit" id="button" style="width: 100%;">Чтобы приступить к созданию профелей должностей, нажмите здесь</button></a></p>
</div>

{% endblock %}
