{% extends "layout.html" %}

{% block title %}
    Users
{% endblock %}

{% block main %}

{% if notSendList is not defined %}
<div class="route">
    <a href="/">Главная</a> - Сообщения сотрудникам
</div>
    <div class="box">
        <div>
        <form action="/mail_manager" method="post" onclick="return show_alert('Отправить приглашение всем пользователям?')">
            <input type="hidden" value="all_invite" name ="flag"> 
            <button class="btn btn-primary" type="submit" >Отправить сообщение всем сотрдникам</button>
        </form>
        </div>
    </div>
<div class="filtr"  id="filtr">
    <form action="/mail_manager" method="post" >
        <select id="reports_to" name="reports_to" >
            {%if reports_to_query%}
            <option  selected value="{{reports_to_query}}" >{{reports_to_query}}</option>
            {%else%}
            <option disabled selected value="none" >Сотрудник</option>
            {%endif%}
            {%for head in headList%}
            {%if reports_to_query != head.0%}
            <option>{{head.0}}</option>
            {%endif%}
            {%endfor%}
        </select>                  
       <select id="ready_status" name="ready_status">
            {%if ready_status_query%}
            <option  selected value="{{ready_status_query}}">{{ready_status_query}}</option>
            {%else%}
            <option disabled selected value="none">Статус готовности</option>
            {%endif%}
            {%for status in readyStatusList%}
            {%if ready_status_query != status%}
            <option>{{ status }}</option>
            {%endif%}
            {%endfor%}
        </select>
        <button class="btn btn-primary" type="submit" id="sort_button">Применить фильтр</button>
    </form>
    <form action="/mail_manager" method="post" name="search">
        <input type="email" name="search" placeholder="почта для поиска" required>
        <button class="btn btn-primary" type="submit">Поиск</button>
    </form>
    <form action="/mail_manager" method="get"><button class="btn btn-primary" type="submit" id="sort_button">Сбросить фильтр</button></form>
</div>
<p style="text-align: right; width: 99%;">* Кнопка "Отправить сообщение" отправляет приглашение пользователю, если ранее оно не было отправлено и отправляет напоминание, если сообщение было отправлено ранее, но сотрудник не принял условия.<br>
    * Кнопка "Отправить сообщения всем сотрудникам" отправляет приглашение всем сотрудникам, если ранее оно не было отправлено и отправляет напоминание, если сообщение было отправлено ранее, но сотрудник не принял условия.</p>
   
    <table class="table table-striped" >
        <thead >
            <tr >
                <th>N</th>
                <th>Подразделение</th>
                <th>Руководитель</th>
                <th>Статус</th>
                <th>Должность</th>
                <th>ФИО</th>
                <th>Почта</th>
                <th>Письмо отправлено</th>
            </tr>
        </thead>
        <tbody> 
            {% for user in users %}
            <tr> 
                <td>{{ loop.index }} </td>
                <td>{{ user.0 }}</td>
                <td>{{ user.1 }}</td>
                <td>{{ user.2 }}</td>
                <td>{{ user.3 }}</td>
                <td>{{ user.4 }}</td>
                <td>{{ user.5 }}</td>
                {% if user.6 is none %} <td>-</td> {% else %}  <td>{{ user.6 }} </td>{% endif %}
                <td><form action="/mail_manager" method="post" onclick="return show_alert('Отправить приглашение пользователю?')">
                    <input type="hidden" value="single" name ="flag">
                    <input type="hidden" value="{{ user.5 }}" name ="user_mail">
                    <input type="hidden" value="{{ user.4 }}" name ="user_name">
                    <button class="btn btn-primary" type="submit">Отправить сообщение</button>
                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
{% else %}
<div class="route">
    <a href="/">Главная</a> - <a href='/mail_manager'>Сообщения сотрудникам</a> - Результаты
</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="9">Пользователи, которым не удалось отправить сообщениею</th>
            </tr>
            <tr>
                <th>N</th>
                <th>Подразделение</th>
                <th>Руководитель</th>
                <th>Статус</th>
                <th>Должность</th>
                <th>ФИО</th>
                <th>Почта</th>
                <th>Письмо отправлено</th>
            </tr>
        </thead>
        <tbody>
            {% for user in notSendList %}
            <tr> 
                <td>{{ loop.index }} </td>
                <td>{{ user.0 }}</td>
                <td>{{ user.1 }}</td>
                <td>{{ user.2 }}</td>
                <td>{{ user.3 }}</td>
                <td>{{ user.4 }}</td>
                <td>{{ user.5 }}</td>
                {% if user.6 is none %} <td>-</td> {% else %}  <td>{{ user.6 }} </td>{% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
<p style="margin-bottom: 30px;"></p>
        <table class="table table-striped" >
            <thead >
                <tr >
                    <th>N</th>
                    <th>Подразделение</th>
                    <th>Руководитель</th>
                    <th>Статус</th>
                    <th>Должность</th>
                    <th>ФИО</th>
                    <th>Почта</th>
                    <th>Письмо отправлено</th>
                </tr>
            </thead>
            <tbody> 
                {% for user in users %}
                <tr> 
                    <td>{{ loop.index }} </td>
                    <td>{{ user.0 }}</td>
                    <td>{{ user.1 }}</td>
                    <td>{{ user.2 }}</td>
                    <td>{{ user.3 }}</td>
                    <td>{{ user.4 }}</td>
                    <td>{{ user.5 }}</td>
                    {% if user.6 is none %} <td>-</td> {% else %}  <td>{{ user.6 }} </td>{% endif %}
                    <td><form action="/mail_manager" method="post" onclick="return show_alert('Отправить приглашение пользователю?')">
                        <input type="hidden" value="single" name ="flag">
                        <input type="hidden" value="{{ user.5 }}" name ="user_mail">
                        <input type="hidden" value="{{ user.4 }}" name ="user_name">
                        <button class="btn btn-primary" type="submit">Пригласить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 

{% endif %}
     
{% endblock %}
