{% extends "layout.html" %}

{% block title %}
    Positions
{% endblock %}

{% block main %}

<div class="route">
    <a href="/">Главная</a> - Ранжирование компетенций по должностям
</div>
<div class="filtr"  id="filtr">
    <form action="/positions" method="post" name="sort">
        <select id="reports_to" name="reports_to" >
            {%if reports_to_query%}
            <option  selected value="{{reports_to_query}}" >{{reports_to_query}}</option>
            {%else%}
            <option disabled selected value="none" >Руководитель</option>
            {%endif%}
            {%for head in headList%}
            {%if reports_to_query != head.0%}
            <option>{{head.0}}</option>
            {%endif%}
            {%endfor%}
        </select>                  
       <select id="ready_status" name="ready_status">
            {%if ready_status_query%}
            <option  selected value="{{ready_status_query}}">{{ready_status_query}}</option>
            {%else%}
            <option disabled selected value="none">Статус готовности</option>
            {%endif%}
            {%for status in readyStatusList%}
            {%if ready_status_query != status%}
            <option>{{ status }}</option>
            {%endif%}
            {%endfor%}
        </select>
        <button class="btn btn-primary" type="submit" id="sort_button">Применить фильтр</button>
    </form>
    <form action="/positions" method="post" name="search">
        <input type="email" name="search" placeholder="почта для поиска" required>
        <button class="btn btn-primary" type="submit">Поиск</button>
    </form>
    <form action="/positions" method="get"><button class="btn btn-primary" type="submit" id="sort_button">Сбросить фильтр</button></form>
</div>

<!-- 
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="12">Руководители, которые не заполнили опросник</th>
        </tr>
        <tr>
            <th>N</th>
            <th>Рук</th>
            <th>Долж</th>
            {% for com in competence %}<th>{{ com }}</th>{% endfor%}
        </tr>
    </thead>
    <tbody>
       {% for pos in positionsNotDone %}  <tr>  
            <td>{{ loop.index }}</td>
            <td>{{ pos.2 }}</td>
            <td>{{ pos.1 }}</td>
            <td>{{ pos.3 }}</td>
            <td>{{ pos.4 }}</td>
            <td>{{ pos.5 }}</td>
            <td>{{ pos.6 }}</td>
            <td>{{ pos.7 }}</td>
            <td>{{ pos.8 }}</td>
            <td>{{ pos.9 }}</td>
            <td>{{ pos.10 }}</td>
            <td>{{ pos.11}}</td>
        </tr>{% endfor %}
    </tbody>
</table>   
<p style="margin-top: 25px;"></p> -->
    <table class="table table-striped">
        <thead>     
            <tr>
                <th>N</th>
                <th>Рук</th>
                <th>Долж</th>
                {% for com in competence %}<th>{{ com }}</th>{% endfor%}
            </tr>
        </thead>
        <tbody>
           {% for pos in positions %}  <tr>  
                <td>{{ loop.index }}</td>
                <td>{{ pos.2 }}</td>
                <td>{{ pos.1 }}</td>
                <td>{{ pos.3 }}</td>
                <td>{{ pos.4 }}</td>
                <td>{{ pos.5 }}</td>
                <td>{{ pos.6 }}</td>
                <td>{{ pos.7 }}</td>
                <td>{{ pos.8 }}</td>
                <td>{{ pos.9 }}</td>
                <td>{{ pos.10 }}</td>
                <td>{{ pos.11}}</td>
            </tr>{% endfor %}
        </tbody>
    </table>   
          
    
{% endblock %}
