{% extends "layout.html" %}

{% block title %}
Questions
{% endblock %}

{% block main %}
<body>
    <style>
    div {
    text-align: left;
    margin-top: 20px
    }
    p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: justify;
    font-size: 150%;
    }
    </style>
</body>


<div style="width: 80%; margin: auto; text-align: left; margin-bottom: 30px;">
    <p>Итак, внимательно ознакомьтесь с описанием каждой компетенции. Посмотрите, по каким шкалам проводится оценка. Подумайте, насколько поведение, описанное в каждой компетенции, важно для достижения результатов работы в каждой должности сотрудников, которыми Вы руководите.</p>
    <p>Выберите приоритеты по каждой компетенции, чтобы создать идеальный профиль для каждой должности сотрудников, которые работают под Вашим руководством.</p>
    <p style="margin-top: 25px;">Распределите приоритеты от 1 до 9, где 1 – самый высокий приоритет (компетенция крайне важна для хорошей работы сотрудника на занимаемой должности, 9 – самый низкий приоритет (компетенция может быть развита плохо и это не влияет на качество работы сотрудника в данной должности) </p>
</div>
<table class="table table-striped" style="width: 80%; text-align: left;">
<thead>
    <tr>
        <th colspan="3"><h4>Вам неоходимо создать профиль компетенций для должностей:{% for positition in  allPositionFromList %}  {{ positition.1 }}; {% endfor %} </h4></th> </tr>
    <tr>
        <th colspan="3"><h4 style="margin-bottom: 20px; color: rgb(14, 20, 130);">Должность - {{ positionFromList.0.1 }}</h2></th>
    </tr>
    <tr>
        <th>Компетенция</th>
        <th>Описание компетенции</th>
        <th>Приоритет</th>
    </tr>
</thead>
<tbody> <form action="/users" method="post" name="users">
    <input type="hidden" name="position_pos" value="{{ positionFromList.0.1 }}" >
    <tr>         
        <td>{{ competence.0 }}</td>
        <td>Стремление ставить перед собой четкие цели и планировать работу. Умение быстро адаптироваться к изменениям на работе.
            Шкалы оценки: Четкое целеполагание; Адаптивность; Планирование; Стремление к порядку</td>
        <td>
            <select name="comp_1" id="id_1" required onchange='check()'>
            <option disabled selected></option>
            {% for i in range(1, 10) %}
            <option >{{ i }}</option>
            {% endfor %} 
            </select>
        </td>
    </tr>
    <tr>         
        <td>{{ competence.1 }}</td>
        <td>Ставит перед собой амбициозные цели. Обучается новому и совершенствует рабочие процессы. Шкалы оценки: Стремление к достижениям; Стремление к развитию; Инновационность</td>
        <td>
            <select name="comp_2" id="id_2" required onchange='check()'>
            <option disabled selected></option>
            {% for i in range(1, 10) %}
            <option >{{ i }}</option>
            {% endfor %} 
            </select>
        </td>
    </tr>
    <tr>         
        <td>{{ competence.2 }}</td>
        <td>Берется за дополнительные задачи и интенсивно работает. Выполняет работу своевременно и несёт ответственность за результаты. Шкалы оценки: Дисциплинированность; Исполнительность; Ответственность; Решительность</td>
        <td>
            <select name="comp_3" id="id_3" required onchange='check()'>
            <option disabled selected></option>
            {% for i in range(1, 10) %}
            <option >{{ i }}</option>
            {% endfor %} 
            </select>
        </td>
    </tr>
    <tr>         
        <td>{{ competence.3 }}</td>
        <td>Следует целям и ценностям компании в своей работе. Делится своим опытом с коллегами и партнерами.
            Шкалы оценки: Лояльность; Взаимовыручка
            </td>
        <td>
            <select name="comp_4" id="id_4" required onchange='check()'>
            <option disabled selected></option>
            {% for i in range(1, 10) %}
            <option >{{ i }}</option>
            {% endfor %} 
            </select>
        </td>
    </tr>
    <tr>         
        <td>Командность</td>
        <td>Объединяет людей и открыто обсуждает рабочие проблемы.
            Шкалы оценки: Готовность к компромиссу; Сотрудничество; Открытость; Открытость обратной связи            
            </td>
        <td>
            <select name="comp_5" id="id_5" required onchange='check()'>
            <option disabled selected></option>
            {% for i in range(1, 10) %}
            <option >{{ i }}</option>
            {% endfor %} 
            </select>
        </td>
    </tr>
    <tr>         
        <td>Ориентация на клиента</td>
        <td>Выясняет потребности клиентов, в том числе внутренних (коллег) и учитывает их в своей работе. Выстраивает долгосрочные отношения.
            Шкалы оценки: Ориентация на потребности клиента (в том числе внутреннего); Партнерство                       
            </td>
        <td>
            <select name="comp_6" id="id_6" required onchange='check()'>
            <option disabled selected></option>
            {% for i in range(1, 10) %}
            <option >{{ i }}</option>
            {% endfor %} 
            </select>
        </td>
    </tr>
    <tr>         
        <td>Эффективная коммуникация</td>
        <td>Налаживает контакт с другими людьми и находит индивидуальный подход к собеседнику. Четко и уверенно отстаивает свою позицию.
            Шкалы оценки: Четкая коммуникация; Убеждение и влияние; Ведение переговоров; Кроссфункциональное взаимодействие; Неформальное лидерство                                   
            </td>
        <td>
            <select name="comp_7" id="id_7" required onchange='check()'>
            <option disabled selected></option>
            {% for i in range(1, 10) %}
            <option >{{ i }}</option>
            {% endfor %} 
            </select>
        </td>
    </tr>
    <tr>         
        <td>Принятие решений</td>
        <td>Интересуется тенденциями рынка и конкурентами в своей отрасли. Ставит стратегические цели и управляет рисками на основе анализа информации.
            Шкалы оценки: Системное мышление; Бизнес-мышление; Перспективное мышление                                             
            </td>
        <td>
            <select name="comp_8" id="id_8" required onchange='check()'>
            <option disabled selected></option>
            {% for i in range(1, 10) %}
            <option >{{ i }}</option>
            {% endfor %} 
            </select>
        </td>
    </tr>
    <tr>         
        <td>Управленческое мастерство</td>
        <td>Организовывает работу подчиненных (коллег) и поддерживает позитивный командный настрой. Развивает и поддерживает подчиненных (коллег).                                             
            </td>
        <td>
            <select name="comp_9" id="id_9" required onchange='check()'>
            <option disabled selected></option>
            {% for i in range(1, 10) %}
            <option >{{ i }}</option>
            {% endfor %} 
            </select>
        </td>
    </tr>
    

    <caption><button class="btn btn-primary" type="submit" id="button" onclick="return check()">Нажмите здесь, чтобы перейти к следующей должности</button></caption></form>
</tbody>
</table> 


<script>
    function check() {
        let id = new Array(10);
        let opt = new Array(10);
        for(let i = 1; i < 10; i++){
            id[i] = 'id_' + i;    
            opt[i] = document.getElementById(id[i]).value;
        } 
        let l = opt.length;
        let c = 1;
        while (c < l) {
            for (let b = 1; b < l; b++){
                if (opt[c] === opt[b] && b != c && opt[c] != 0 ){
                    alert('Значение должно быть уникальным');
                    document.getElementById(id[b]).style.border = "1px solid red";
                    document.getElementById(id[c]).style.border = "1px solid red";
                    return false;
                    break;
                }
                else {
                    document.getElementById(id[b]).style.border = "1px solid black";
                    document.getElementById(id[c]).style.border = "1px solid black";
                }
            } 
            c ++;
        }   
        return true;
    }
    </script>

    {% endblock %}
