{% extends "layout.html" %}

{% block title %}
    Востановить пароль
    
{% endblock %}

{% block main %}


<h5>Пожалуйста, укажите адрес вашей эоектронной почты и нажмите на кнопку "Запросить".</p>
<h5>Ели вы зарегистрированы в системе, то новый пароль придет на адрес вашей электроннй почты.</p>
<div class="form_log">
    <form action="/reset_password" method="post" >
        <div class="mb-3" style="margin-top:30px;">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="mail" name="username" placeholder="Email" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Запросить</button>
    </form>
</div>
    

    
{% endblock %}
