{% extends "layout.html" %}

{% block title %}
    The End
{% endblock %}

{% block main %}
    <h3 style="margin-bottom: 30px;" >Если у Вас остались вопросы, Вы можете связаться с нами через форму: </h3>
    <table class="table table-striped" >
        <tbody>
            <tr>
                <td>
                    <form action="/mail_heads" method="post" onsubmit="return show_alert('Отправить сообщение?')">
                        <input type="hidden" value="mail_from_head_end" name ="flag">
                        <label for="exampleFormControlTextarea1" class="form-label"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="messege_from_head"></textarea>
                        <button class="btn btn-primary" type="submit">Отправить сообщение</button>
                    </form>
                </td>
            </tr>
        </tbody>
</table>

Мы ответим в течение дня обращения или на следующий день.

{% endblock %}
