{% extends "layout.html" %}

{% block title %}
    STI Partners
{% endblock %}

{% block main %}


<h1 style="margin-bottom: 50px;">Спасибо!</h1>
<h2>Ваше участие продолжится на пятом этапе «Оценка прогресса развития компетенций сотрудников back-office».</h2>
<img class="instr" src="static/map.png" style=" width: 75%; height: auto;">
<h2>Вам предстоит оценить прогресс развития компетенций, по которым Ваши сотрудники пройдут обучение. Для этого STI предоставит Вам чек-листы «Поведенческие индикаторы» по компетенциям.</h2>

<h2>О ходе проекта и начале пятого этапа мы сообщим Вам дополнительно!</h2>

<a href="/logout"><button class="btn btn-primary" style="margin-top: 50px; width: 30%;">До встречи! Завершить</button></a>



{% endblock %}
