<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/favicon.ico" rel="icon">
        <title>STI-Partners</title>
    </head>
    <body>
        <p>Уважаемый {{user_name}},</p>
        <p>Приглашаем Вас к участию в проекте «Развитие компетенций сотрудников back-office»<br> 
            Пожалуйста, перейдите на сайт проекта: <a href="https://sti-partners.herokuapp.com">STI-Partners.</a></p>
        <p>Используйте логин: {{user_mail}} и пароль: {{user_password}}<br></p>

        <p style="margin-top: 3%;">
        --<br>
        C уважением,<br>
        Татьяна Астраленко, STI <br>
        WhatsApp: +7 903 128 00 77<br>
        </p>
    </body>
</html>
    