{% extends "layout.html" %}

{% block title %}
    Users
{% endblock %}

{% block main %}
    <table class="table table-striped" >
        <thead ><form action="users" method="post" name="sort">
            <tr >
                <th>N</th>
                <th>
                    <select id="department" name="department" >
                        <option disabled selected value="none" multiple>Подразделение</option>
                        {% for dep in userDepartment %}
                        <option>{{ dep.0 }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <select id="reports_to" name="reports_to">
                        <option disabled selected value="none">Руководитель</option>
                        {% for rep in usereReports_to %}
                        <option>{{ rep.0 }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <select id="status" name="status">
                        <option disabled selected value="none">Статус</option>
                        {% for stat in usereStatus_to %}
                        <option>{{ stat.0 }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <select id="position" name="position">
                        <option disabled selected value="none">Должность</option>
                        {% for pos in userePosition %}
                        <option>{{ pos.0 }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>ФИО</th>
                <th>Почта</th>
                <th>Пароль</th>
                <th><button class="btn btn-primary" type="submit" id="sort_button">Применить</button></th>
            </tr></form>
        </thead>
        <tbody> 
            {% for user in users %}
            <tr> 
                <td>{{ loop.index }} </td>
                <td>{{ user.1 }}</td>
                <td>{{ user.2 }}</td>
                <td>{{ user.3 }}</td>
                <td>{{ user.4 }}</td>
                <td>{{ user.5 }}</td>
                <td>{{ user.6 }}</td>
                <td>{{ user.7 }}</td>
                <td>
                    <form action="/edit" method="post">
                        <input type="hidden" value="{{ user.0 }}" name ="user_id">
                        <button class="btn btn-primary" type="submit">Редакт</button>
                    </form>
                </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <form action="/register" method="post" name="register" onsubmit="return validateForm()">
                <td><input autocomplete="off" id="department" name="department"  placeholder="Подразделение" type="text"  maxlength="30"></td>
                <td><input autocomplete="off" id="reports_to" name="reports_to"  placeholder="Руководитель" type="text"  maxlength="30" ></td>
                <td><input autocomplete="off" id="status" name="status" placeholder="Status"></td>
                <td><input autocomplete="off" id="position" name="position" placeholder="Должность"></td>
                <td><input autocomplete="off" id="name" name="name"  placeholder="ФИО" type="text" maxlength="30" r></td>
                <td><input autocomplete="off" id="mail" name="mail"  placeholder="Почта" type="text"  maxlength="30"></td>      
                <td></td>      
                <td><button class="btn btn-primary" type="submit" id="button">Добавить</button></td>
            </tr>  
            </form>
            <tr>
            <form action="/file" method="post" enctype=multipart/form-data>
                <td></td><td></td><td></td>
                <td colspan="5" ><div class="input-group">
                    <input accept=".xlsx,.xls,.csv" name="file" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    <button class="btn btn-primary" type="sybmit" id="inputGroupFileAddon04">Загрузить</button>
                  </div></td>
                  <td></td>
            </form>
            </tr>
            
        </tbody>
    </table>   
          
    
    <script>
                function validateForm() {
                        let name = document.forms["register"]["name"].value;
                        let username = document.forms["register"]["username"].value;
                        let password = document.forms["register"]["password"].value;
                        let status = document.forms["register"]["status"].value;
                        let position = document.forms["register"]["position"].value;
                        let check = "none";
                        
                        if (name.length < 3 || name.length > 30) {
                            document.getElementById("name").style.border = "1px solid red";
                            alert("Поле name содержит меньше 3-х или более 30 символов.");
                            //document.getElementById("name").focus()
                            return false;
                        }
                        else {
                            document.getElementById("name").style.border = "1px solid green";
                            //document.getElementById("button").focus()
                        }
        
                        if (username.length < 3 || username.length > 30) {
                            document.getElementById("username").style.border = "1px solid red";
                            alert("Поле username содержит менее 3-ч или более 30 символов");
                            //document.getElementById("username").focus()
                            return false;
                        }
                        else {
                            document.getElementById("username").style.border = "1px solid green";
                            //document.getElementById("button").focus()
                        }
        
                        if (checkUsernameInvalidSymbol(username)) {
                            document.getElementById("username").style.border = "1px solid red";
                            alert("Поле Username содержит недопустимый символ. Используйте буквы латинского алфавита и цифры от 0 до 9");
                            //document.getElementById("username").focus()
                            return false;
                        }
                        else {
                            document.getElementById("username").style.border = "1px solid green";
                            //document.getElementById("button").focus()
                        }
        
                        if (checkUsernameMastContain(username)) {
                            document.getElementById("username").style.border = "1px solid red";
                            alert("Поле Username должно содержать хотябы одну букву. Используйте буквы латинского алфавита и цифры от 0 до 9");
                            //document.getElementById("username").focus()
                            return false;
                        }
                        else {
                            document.getElementById("username").style.border = "1px solid green";
                            //document.getElementById("button").focus()
                        }
        
                        if (checkPasswordMastContain(password)) {
                            document.getElementById("password").style.border = "1px solid red";
                            alert("Password does not contain the necessary characters. Password mast contain at least one upper and lower case characters from English alphabet and one digit from 0 to 9 and one charecter from !, @, #, $, %, &, ?, -, +, =, ~.")
                            //document.getElementById("password").focus()
                            return false;
                        }
                        else {
                            document.getElementById("password").style.border = "1px solid green";
                            //document.getElementById("button").focus()
                        }
        
                        if (checkPasswordInvalidSymbol(password)) {
                            document.getElementById("password").style.border = "1px solid red";
                            alert("Password contains an invalid character.");
                            //document.getElementById("password").focus()
                            return false;
                        }
                        else {
                            document.getElementById("password").style.border = "1px solid green";
                            //document.getElementById("button").focus()
                        }
        
                        if (password.length < 6 || password.length > 30) {
                            document.getElementById("password").style.border = "1px solid red";
                            alert("Password is not available. Password mast be between 6 and 30 characters.");
                            //document.getElementById("password").focus()
                            return false;
                        }
                        else {
                            document.getElementById("password").style.border = "1px solid green";
                            //document.getElementById("button").focus()
                        }
                       if (status === check) {
                            document.getElementById("status").style.border = "1px solid red";
                            alert("Status is not available.");
                            //document.getElementById("status").focus()
                            return false;
                        }
                        else {
                            document.getElementById("status").style.border = "1px solid green";
                            //document.getElementById("button").focus()
                        }

                        if (position === check) {
                            document.getElementById("position").style.border = "1px solid red";
                            alert("Position is not available.");
                            //document.getElementById("status").focus()
                            return false;
                        }
                        else {
                            document.getElementById("position").style.border = "1px solid green";
                            //document.getElementById("button").focus()
                        }
        
                        
                            return true;
                    }
        
            </script>
{% endblock %}
